<head>

</head>
<body>

<!-- home section starts  -->

<section class="home-index" id="home">

    <div class="content">
        <h3>New and <span>organic</span> products for your</h3>
        <p></p>
        <a href="#" class="btn-index">shop now</a>
    </div>

</section>


<!-- home section ends -->

<!-- features section starts  -->

<section class="features" id="features">

    <h1 class="heading"> our <span>features</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/assets/sleeping-man-on-bed.png" alt="">
            <h3>fresh and organic</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
            <a href="#" class="btn-index">read more</a>
        </div>

        <div class="box">
            <img src="/assets/feature-img-2.png" alt="">
            <h3>fast delivery</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
            <a href="#" class="btn-index">read more</a>
        </div>

        <div class="box">
            <img src="/assets/feature-img-3.png" alt="">
            <h3>easy payments</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, earum!</p>
            <a href="#" class="btn-index">read more</a>
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- products section starts  -->

<section class="products" id="products">

    <h1 class="heading"> our <span>products</span> </h1>

    <div class="swiper product-slider swiper-initialized swiper-horizontal swiper-pointer-events">

        <div class="swiper-wrapper">

            <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-2.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/products/all_product" class="btn-index">add to cart</a>
            </div>

             <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-3.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn-index">add to cart</a>
            </div>

           <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-6.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn-index">add to cart</a>
            </div>

        </div>

    </div>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-7.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/products/all_product" class="btn-index">add to cart</a>
            </div>

           <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-1.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn-index">add to cart</a>
            </div>

          <div class="swiper-slide box swiper-slide-duplicate"style="width: 393px; margin-right: 20px;">
                <img src="/assets/bed-sheet-6.jpg" alt="">
                <h3>King Size</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="#" class="btn-index">add to cart</a>
            </div>


        </div>

    </div>


</section>

<!-- products section ends -->


<!-- categories section starts  -->

<section class="categories" id="categories">

    <h1 class="heading"> product <span>categories</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="/assets/bed-sheet-7.jpg" alt="">
            <h3>Bed Sheets</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn-index">shop now</a>
        </div>

        <div class="box">
            <img src="/assets/bed-sheet-9.jpg" alt="">
            <h3>Bed Sheets</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn-index">shop now</a>
        </div>

        <div class="box">
            <img src="/assets/bed-sheet-2.jpg" alt="">
            <h3>Bed Sheets</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn-index">shop now</a>
        </div>

        <div class="box">
            <img src="/assets/bed-sheet-3.jpg" alt="">
            <h3>Bed Sheets</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn-index">shop now</a>
        </div>

    </div>

</section>
</body>


